.eden-theme-dark {
  --color-text-primary: var(--base-white);
  --color-text-primary-on-color: var(--base-white);
  --color-text-secondary: var(--color-grey-300-alt);
  --color-text-secondary-hover: var(--color-grey-200-alt);
  --color-text-secondary-on-color: var(--color-grey-300-alt);
  --color-text-tertiary: var(--color-grey-400-alt);
  --color-text-tertiary-hover: var(--color-grey-300-alt);
  --color-text-tertiary-on-color: var(--color-grey-400-alt);
  --color-text-quaternary: var(--color-grey-400-alt);
  --color-text-quaternary-on-color: var(--color-grey-400-alt);
  --color-text-adaptive: var(--color-grey-900-alt);
  --color-text-light-disabled: var(--color-grey-700-alt);
  --color-text-base-disabled: var(--color-grey-500-alt);
  --color-text-brand-primary: var(--base-white);
  --color-text-brand-secondary: var(--color-grey-300-alt);
  --color-text-brand-secondary-on-hover: var(--color-grey-300-alt);
  --color-text-brand-tertiary: var(--base-white);
  --color-text-brand-tertiary-alt: var(--color-grey-400-alt);
  --color-text-critical: var(--critical-light-400);
  --color-text-success: var(--success-light-400);
  --color-text-warning: var(--warning-light-400);
  --color-text-info: var(--info-light-400);
  --color-text-finance: var(--finance-light-400);
  --color-text-link-rest: var(--color-blue-dark-8);
  --color-text-link-hover: var(--color-blue-dark-10);
  --color-text-link-active: var(--color-blue-dark-11);
  --color-bg-surface-subtle: var(--color-grey-800);
  --color-bg-primary: var(--color-grey-900);
  --color-bg-surface-strong: var(--color-grey-700);
  --color-bg-surface-transparent: var(--color-grey-alpha-black-0);
  --color-bg-fill-subtle: var(--color-grey-800);
  --color-bg-fill-base: var(--color-grey-900);
  --color-bg-fill-strong: var(--color-grey-700);
  --color-bg-fill-inverse: var(--base-white);
  --color-bg-fill-dark: var(--color-grey-950-alt);
  --color-bg-fill-subtle-disabled: var(--color-grey0-alpha-1);
  --color-bg-fill-strong-disabled: var(--color-grey-700);
  --color-bg-fill-transparent: var(--color-grey-alpha-black-0);
  --color-bg-fill-neutral: var(--color-grey-100-alt);
  --color-bg-fill-brand: var(--base-white);
  --color-bg-critical-primary: var(--critical-light-900);
  --color-bg-critical-secondary: var(--critical-dark-6);
  --color-bg-critical-secondary-hover: var(--critical-dark-11);
  --color-bg-fill-success-subtle: var(--success-dark-alpha-3);
  --color-bg-fill-success-strong: var(--success-dark-5);
  --color-bg-fill-warning-subtle: var(--warning-dark-alpha-2);
  --color-bg-fill-warning-strong: var(--warning-dark-5);
  --color-bg-fill-info-subtle: var(--info-dark-alpha-3);
  --color-bg-fill-info-strong: var(--info-dark-7);
  --color-bg-fill-magic-subtle: var(--finance-dark-alpha-3);
  --color-bg-fill-magic-strong: var(--finance-dark-7);
  --color-icon-light: var(--color-grey-600);
  --color-icon-subtle: var(--color-grey-400);
  --color-icon-base: var(--color-grey-300);
  --color-icon-strong: var(--base-white);
  --color-icon-light-disabled: var(--color-grey-700);
  --color-icon-base-disabled: var(--color-grey-600);
  --color-icon-on-color: var(--base-white);
  --color-icon-adaptive: var(--color-grey-900);
  --color-icon-brand: var(--base-white);
  --color-icon-critical: var(--critical-dark-10);
  --color-icon-success: var(--success-dark-9);
  --color-icon-warning: var(--warning-dark-9);
  --color-icon-info: var(--info-dark-9);
  --color-icon-magic: var(--finance-dark-9);
  --color-icon-link-rest: var(--color-blue-dark-8);
  --color-icon-link-hover: var(--color-blue-dark-10);
  --color-icon-link-active: var(--color-blue-dark-11);
  --color-border-primary: var(--color-grey-600-alt);
  --color-border-primary-strong: var(--color-grey-500-alt);
  --color-border-secondary: var(--color-grey-700-alt);
  --color-border-secondary-alt: var(--color-grey-700-alt);
  --color-concept-placeholder-base: var(--color-grey-600);
  --color-concept-state-rest: var(--color-grey-alpha-white-0);
  --color-concept-state-hover-strong: var(--color-grey-alpha-black-14);
  --color-concept-state-hover-subtle: var(--color-grey-alpha-white-2);
  --color-concept-state-pressed-strong: var(--color-grey-alpha-black-24);
  --color-concept-state-pressed-subtle: var(--color-grey-alpha-white-16);
  --color-concept-state-active: var(--color-grey0-alpha-6);
  --color-concept-backdrop-dark: var(--color-grey0-alpha-11);
  --color-concept-scrollbar-base: var(--color-grey-500);
  --color-concept-field-base-primary: var(--color-grey0-alpha-5);
  --color-concept-field-base-secondary: var(--color-grey-600);
  --color-concept-field-disabled: var(--color-grey0-alpha-4);
  --color-border-tertiary: var(--color-grey-800-alt);
  --color-border-light-disabled: var(--color-grey-800-alt);
  --color-border-base-disabled: var(--color-grey-700-alt);
  --color-border-adaptive: var(--color-grey-900-alt);
  --color-border-brand: var(--brand-light-400);
  --color-border-brand-alt: var(--color-grey-700-alt);
  --color-border-focus: var(--brand-light-alpha-8);
  --color-border-critical-subtle: var(--critical-light-700);
  --color-border-critical-strong: var(--critical-light-400);
  --color-border-success-subtle: var(--success-light-700);
  --color-border-success-strong: var(--success-light-400);
  --color-border-warning-subtle: var(--warning-light-700);
  --color-border-warning-strong: var(--warning-light-400);
  --color-border-info-subtle: var(--info-light-700);
  --color-border-info-strong: var(--info-light-400);
  --color-border-magic-subtle: var(--finance-light-700);
  --color-border-magic-strong: var(--finance-light-400);
  --color-concept-gradient-skeleton-base: var(--color-grey-800);
  --color-concept-gradient-skeleton-strong: var(--color-grey-600);
  --color-concept-gradient-transparent-primary: rgb(24 27 31 / 0);
  --color-shadow-01: rgb(0 0 0 / 0.24);
  --color-shadow-02: rgb(0 0 0 / 0.28);
}
