.eden-theme-light {
  --color-text-primary: var(--color-grey-900);
  --color-text-primary-on-color: var(--base-white);
  --color-text-secondary: var(--color-grey-700);
  --color-text-secondary-hover: var(--color-grey-800);
  --color-text-secondary-on-color: var(--brand-light-200);
  --color-text-tertiary: var(--color-grey-500);
  --color-text-tertiary-hover: var(--color-grey-600);
  --color-text-tertiary-on-color: var(--brand-light-200);
  --color-text-quaternary: var(--color-grey-400);
  --color-text-quaternary-on-color: var(--brand-light-300);
  --color-text-adaptive: var(--base-white);
  --color-text-light-disabled: var(--color-grey-300);
  --color-text-base-disabled: var(--color-grey-400);
  --color-text-brand-primary: var(--brand-light-900);
  --color-text-brand-secondary: var(--brand-light-700);
  --color-text-brand-secondary-on-hover: var(--brand-light-800);
  --color-text-brand-tertiary: var(--brand-light-600);
  --color-text-brand-tertiary-alt: var(--brand-light-600);
  --color-text-critical: var(--critical-light-900);
  --color-text-success: var(--success-light-600);
  --color-text-warning: var(--warning-light-600);
  --color-text-info: var(--info-light-600);
  --color-text-finance: var(--finance-light-600);
  --color-text-link-rest: var(--color-blue-light-700);
  --color-text-link-hover: var(--color-blue-light-800);
  --color-text-link-active: var(--color-blue-light-950);
  --color-bg-surface-subtle: var(--color-grey-25);
  --color-bg-primary: var(--base-white);
  --color-bg-surface-strong: var(--color-grey-50);
  --color-bg-surface-transparent: var(--color-grey-alpha-black-0);
  --color-bg-fill-subtle: var(--color-grey-25);
  --color-bg-fill-base: var(--base-white);
  --color-bg-fill-strong: var(--color-grey-50);
  --color-bg-fill-inverse: var(--color-grey-900);
  --color-bg-fill-dark: var(--color-grey-800);
  --color-bg-fill-subtle-disabled: var(--color-grey0-alpha-1);
  --color-bg-fill-strong-disabled: var(--color-grey-alpha-black-3);
  --color-bg-fill-transparent: var(--color-grey-alpha-black-0);
  --color-bg-fill-neutral: var(--color-grey-500-alt);
  --color-bg-fill-brand: var(--brand-light-600);
  --color-bg-critical-primary: var(--critical-light-50);
  --color-bg-critical-secondary: var(--critical-light-500);
  --color-bg-critical-secondary-hover: var(--critical-light-600);
  --color-bg-fill-success-subtle: var(--success-light-50);
  --color-bg-fill-success-strong: var(--success-light-900);
  --color-bg-fill-warning-subtle: var(--warning-light-50);
  --color-bg-fill-warning-strong: var(--warning-light-500);
  --color-bg-fill-info-subtle: var(--info-light-50);
  --color-bg-fill-info-strong: var(--info-light-500);
  --color-bg-fill-magic-subtle: var(--finance-light-50);
  --color-bg-fill-magic-strong: var(--finance-light-500);
  --color-icon-light: var(--color-grey-200);
  --color-icon-subtle: var(--color-grey-400);
  --color-icon-base: var(--color-grey-600);
  --color-icon-strong: var(--color-grey-900);
  --color-icon-light-disabled: var(--color-grey-200);
  --color-icon-base-disabled: var(--color-grey-300);
  --color-icon-on-color: var(--base-white);
  --color-icon-adaptive: var(--base-white);
  --color-icon-brand: var(--brand-light-500);
  --color-icon-critical: var(--critical-light-800);
  --color-icon-success: var(--success-light-700);
  --color-icon-warning: var(--warning-light-700);
  --color-icon-info: var(--info-light-500);
  --color-icon-magic: var(--finance-light-700);
  --color-icon-link-rest: var(--color-blue-light-700);
  --color-icon-link-hover: var(--color-blue-light-800);
  --color-icon-link-active: var(--color-blue-light-950);
  --color-border-primary: var(--color-grey-200);
  --color-border-primary-strong: var(--color-grey-400);
  --color-border-secondary: var(--color-grey-100);
  --color-border-secondary-alt: var(--color-grey-alpha-black-4);
  --color-concept-placeholder-base: var(--color-grey-300);
  --color-concept-state-rest: var(--color-grey-alpha-black-0);
  --color-concept-state-hover-strong: var(--color-grey-alpha-black-14);
  --color-concept-state-hover-subtle: var(--color-grey-alpha-black-2);
  --color-concept-state-pressed-strong: var(--color-grey-alpha-black-24);
  --color-concept-state-pressed-subtle: var(--color-grey-alpha-black-3);
  --color-concept-state-active: var(--color-grey-950-alt);
  --color-concept-backdrop-dark: var(--color-grey-alpha-black-66);
  --color-concept-scrollbar-base: var(--color-grey-200);
  --color-concept-field-base-primary: var(--base-white);
  --color-concept-field-base-secondary: var(--color-grey-200);
  --color-concept-field-disabled: var(--color-grey-alpha-black-2);
  --color-border-tertiary: var(--color-grey-50);
  --color-border-light-disabled: var(--color-grey-50);
  --color-border-base-disabled: var(--color-grey-200);
  --color-border-adaptive: var(--base-white);
  --color-border-brand: var(--brand-light-500);
  --color-border-brand-alt: var(--brand-light-500);
  --color-border-focus: var(--brand-light-alpha-6);
  --color-border-critical-subtle: var(--critical-light-300);
  --color-border-critical-strong: var(--critical-light-500);
  --color-border-success-subtle: var(--success-light-300);
  --color-border-success-strong: var(--success-light-500);
  --color-border-warning-subtle: var(--warning-light-300);
  --color-border-warning-strong: var(--warning-light-500);
  --color-border-info-subtle: var(--info-light-300);
  --color-border-info-strong: var(--info-light-500);
  --color-border-magic-subtle: var(--finance-light-300);
  --color-border-magic-strong: var(--finance-light-500);
  --color-concept-gradient-skeleton-base: var(--color-grey-25);
  --color-concept-gradient-skeleton-strong: var(--color-grey-100);
  --color-concept-gradient-transparent-primary: rgb(255 255 255 / 0);
  --color-shadow-01: rgb(137 150 163 / 0.12);
  --color-shadow-02: rgb(137 150 163 / 0.14);
}
