:root {
  --base-white: rgb(255 255 255);
  --base-black: rgb(0 0 0);
  --base-transparent: rgb(255 255 255 / 0);
  --color-grey-25: rgb(253 253 253);
  --color-grey-25-alt: rgb(249 249 249);
  --color-grey-50: rgb(250 250 250);
  --color-grey-50-alt: rgb(247 247 247);
  --color-grey-100: rgb(245 245 245);
  --color-grey-100-alt: rgb(240 240 241);
  --color-grey-200: rgb(233 234 235);
  --color-grey-200-alt: rgb(236 236 237);
  --color-grey-300: rgb(213 215 218);
  --color-grey-300-alt: rgb(206 207 210);
  --color-grey-400: rgb(164 167 174);
  --color-grey-400-alt: rgb(148 151 156);
  --color-grey-500: rgb(113 118 128);
  --color-grey-500-alt: rgb(133 136 142);
  --color-grey-600: rgb(83 88 98);
  --color-grey-600-alt: rgb(97 101 108);
  --color-grey-700: rgb(65 70 81);
  --color-grey-700-alt: rgb(55 58 65);
  --color-grey-800: rgb(37 43 55);
  --color-grey-800-alt: rgb(34 38 47);
  --color-grey-900: rgb(24 29 39);
  --color-grey-900-alt: rgb(19 22 27);
  --color-grey-950: rgb(10 13 18);
  --color-grey-950-alt: rgb(12 14 18);
  --color-grey-alpha-black-0: rgb(255 255 255 / 0);
  --color-grey-alpha-black-2: rgb(1 4 9 / 0.02);
  --color-grey-alpha-black-3: rgb(1 4 9 / 0.06);
  --color-grey-alpha-black-4: rgb(1 4 9 / 0.09);
  --color-grey-alpha-black-14: rgb(1 4 9 / 0.14);
  --color-grey-alpha-black-24: rgb(1 4 9 / 0.24);
  --color-grey-alpha-black-47: rgb(1 4 9 / 0.47);
  --color-grey-alpha-black-59: rgb(1 4 9 / 0.59);
  --color-grey-alpha-black-66: rgb(1 4 9 / 0.66);
  --color-grey-alpha-black-80: rgb(1 4 9 / 0.8);
  --color-grey-alpha-black-86: rgb(1 4 9 / 0.86);
  --color-grey-alpha-black-91: rgb(1 4 9 / 0.91);
  --color-grey0-alpha-1: rgb(105 105 105 / 0.02);
  --color-grey0-alpha-2: rgb(30 30 30 / 0.04);
  --color-grey0-alpha-3: rgb(15 15 15 / 0.1);
  --color-grey0-alpha-4: rgb(13 13 13 / 0.19);
  --color-grey0-alpha-5: rgb(0 0 0 / 0.31);
  --color-grey0-alpha-6: rgb(2 2 2 / 0.47);
  --color-grey0-alpha-7: rgb(3 3 3 / 0.58);
  --color-grey0-alpha-8: rgb(2 2 2 / 0.64);
  --color-grey0-alpha-9: rgb(4 4 4 / 0.7);
  --color-grey0-alpha-10: rgb(0 0 0 / 0.73);
  --color-grey0-alpha-11: rgb(3 3 3 / 0.73);
  --color-grey0-alpha-12: rgb(2 2 2 / 0.9);
  --color-blue-light-25: rgb(251 253 255);
  --color-blue-light-50: rgb(245 249 255);
  --color-blue-light-100: rgb(213 226 255);
  --color-blue-light-200: rgb(192 213 255);
  --color-blue-light-300: rgb(151 186 255);
  --color-blue-light-400: rgb(77 130 255);
  --color-blue-light-500: rgb(51 92 255);
  --color-blue-light-600: rgb(53 89 233);
  --color-blue-light-700: rgb(37 71 208);
  --color-blue-light-800: rgb(31 59 173);
  --color-blue-light-900: rgb(24 47 139);
  --color-blue-light-950: rgb(18 35 104);
  --color-blue-light-alpha-1: rgb(71 108 255 / 0.02);
  --color-blue-light-alpha-2: rgb(71 108 255 / 0.04);
  --color-blue-light-alpha-3: rgb(71 108 255 / 0.09);
  --color-blue-light-alpha-4: rgb(71 108 255 / 0.15);
  --color-blue-light-alpha-5: rgb(71 108 255 / 0.21);
  --color-blue-light-alpha-6: rgb(71 108 255 / 0.3);
  --color-blue-light-alpha-7: rgb(71 108 255 / 0.4);
  --color-blue-light-alpha-8: rgb(71 108 255 / 0.56);
  --color-blue-dark-1: rgb(251 253 255);
  --color-blue-dark-2: rgb(244 250 255);
  --color-blue-dark-3: rgb(231 243 255);
  --color-blue-dark-4: rgb(217 236 255);
  --color-blue-dark-5: rgb(199 226 255);
  --color-blue-dark-6: rgb(173 213 255);
  --color-blue-dark-7: rgb(141 196 255);
  --color-blue-dark-8: rgb(96 171 255);
  --color-blue-dark-9: rgb(87 162 255);
  --color-blue-dark-10: rgb(75 150 242);
  --color-blue-dark-11: rgb(34 111 200);
  --color-blue-dark-12: rgb(0 48 112);
  --color-blue-dark-alpha-1: rgb(55 155 255 / 0.02);
  --color-blue-dark-alpha-2: rgb(35 155 255 / 0.05);
  --color-blue-dark-alpha-3: rgb(15 135 255 / 0.1);
  --color-blue-dark-alpha-4: rgb(2 128 255 / 0.15);
  --color-blue-dark-alpha-5: rgb(0 123 255 / 0.22);
  --color-blue-dark-alpha-6: rgb(7 128 255 / 0.33);
  --color-blue-dark-alpha-7: rgb(2 124 255 / 0.45);
  --color-blue-dark-alpha-8: rgb(3 122 255 / 0.63);
  --color-red-light-25: rgb(255 252 252);
  --color-red-light-50: rgb(255 248 246);
  --color-red-light-100: rgb(255 234 231);
  --color-red-light-200: rgb(255 219 213);
  --color-red-light-300: rgb(255 203 194);
  --color-red-light-400: rgb(255 186 175);
  --color-red-light-500: rgb(252 165 153);
  --color-red-light-600: rgb(244 137 123);
  --color-red-light-700: rgb(252 68 57);
  --color-red-light-800: rgb(238 50 42);
  --color-red-light-900: rgb(217 22 22);
  --color-red-light-950: rgb(100 29 23);
  --color-red-light-alpha-1: rgb(255 105 105 / 0.02);
  --color-red-light-alpha-2: rgb(255 80 30 / 0.04);
  --color-red-light-alpha-3: rgb(255 45 15 / 0.1);
  --color-red-light-alpha-4: rgb(255 43 8 / 0.17);
  --color-red-light-alpha-5: rgb(255 38 1 / 0.24);
  --color-red-light-alpha-6: rgb(255 39 5 / 0.32);
  --color-red-light-alpha-7: rgb(248 30 0 / 0.4);
  --color-red-light-alpha-8: rgb(234 28 1 / 0.52);
  --color-red-dark-1: rgb(254 252 252);
  --color-red-dark-2: rgb(255 246 245);
  --color-red-dark-3: rgb(255 234 232);
  --color-red-dark-4: rgb(255 217 212);
  --color-red-dark-5: rgb(255 201 194);
  --color-red-dark-6: rgb(255 186 179);
  --color-red-dark-7: rgb(246 168 160);
  --color-red-dark-8: rgb(236 143 134);
  --color-red-dark-9: rgb(252 109 101);
  --color-red-dark-10: rgb(240 96 89);
  --color-red-dark-11: rgb(206 67 64);
  --color-red-dark-12: rgb(88 43 39);
  --color-red-dark-alpha-1: rgb(205 105 105 / 0.02);
  --color-red-dark-alpha-2: rgb(255 30 5 / 0.04);
  --color-red-dark-alpha-3: rgb(255 45 25 / 0.1);
  --color-red-dark-alpha-4: rgb(255 31 2 / 0.17);
  --color-red-dark-alpha-5: rgb(255 30 1 / 0.24);
  --color-red-dark-alpha-6: rgb(255 25 2 / 0.3);
  --color-red-dark-alpha-7: rgb(231 26 5 / 0.38);
  --color-red-dark-alpha-8: rgb(215 22 3 / 0.48);
  --color-yellow-light-25: rgb(254 253 240);
  --color-yellow-light-50: rgb(254 251 232);
  --color-yellow-light-100: rgb(254 247 195);
  --color-yellow-light-200: rgb(254 238 149);
  --color-yellow-light-300: rgb(253 226 114);
  --color-yellow-light-400: rgb(250 197 21);
  --color-yellow-light-500: rgb(234 170 8);
  --color-yellow-light-600: rgb(202 133 4);
  --color-yellow-light-700: rgb(161 92 7);
  --color-yellow-light-800: rgb(133 74 14);
  --color-yellow-light-900: rgb(113 59 18);
  --color-yellow-light-950: rgb(84 44 13);
  --color-yellow-light-alpha-1: rgb(205 155 5 / 0.02);
  --color-yellow-light-alpha-2: rgb(241 184 26 / 0.07);
  --color-yellow-light-alpha-3: rgb(255 195 5 / 0.2);
  --color-yellow-light-alpha-4: rgb(245 185 5 / 0.3);
  --color-yellow-light-alpha-5: rgb(234 176 1 / 0.39);
  --color-yellow-light-alpha-6: rgb(211 157 4 / 0.45);
  --color-yellow-light-alpha-7: rgb(183 137 3 / 0.5);
  --color-yellow-light-alpha-8: rgb(173 131 3 / 0.66);
  --color-yellow-dark-1: rgb(254 253 250);
  --color-yellow-dark-2: rgb(255 251 233);
  --color-yellow-dark-3: rgb(255 246 192);
  --color-yellow-dark-4: rgb(255 237 150);
  --color-yellow-dark-5: rgb(255 227 113);
  --color-yellow-dark-6: rgb(244 214 109);
  --color-yellow-dark-7: rgb(225 198 100);
  --color-yellow-dark-8: rgb(207 175 52);
  --color-yellow-dark-9: rgb(255 213 0);
  --color-yellow-dark-10: rgb(245 204 1);
  --color-yellow-dark-11: rgb(144 117 0);
  --color-yellow-dark-12: rgb(67 59 30);
  --color-yellow-dark-alpha-1: rgb(205 155 5 / 0.02);
  --color-yellow-dark-alpha-2: rgb(255 211 11 / 0.09);
  --color-yellow-dark-alpha-3: rgb(255 219 3 / 0.25);
  --color-yellow-dark-alpha-4: rgb(255 212 5 / 0.42);
  --color-yellow-dark-alpha-5: rgb(255 205 1 / 0.56);
  --color-yellow-dark-alpha-6: rgb(236 184 3 / 0.58);
  --color-yellow-dark-alpha-7: rgb(206 162 1 / 0.61);
  --color-yellow-dark-alpha-8: rgb(195 155 1 / 0.8);
  --color-green-light-1: rgb(250 254 250);
  --color-purple-light-1: rgb(243 240 255);
  --color-purple-light-2: rgb(239 235 255);
  --color-purple-light-3: rgb(202 192 255);
  --color-purple-light-4: rgb(202 192 255);
  --color-purple-light-5: rgb(168 151 255);
  --color-purple-light-6: rgb(140 113 246);
  --color-purple-light-7: rgb(125 82 244);
  --color-purple-light-8: rgb(105 62 224);
  --color-purple-light-9: rgb(91 44 201);
  --color-purple-light-10: rgb(76 37 167);
  --color-purple-light-11: rgb(53 26 117);
  --color-purple-light-12: rgb(53 26 117);
  --color-purple-light-alpha-1: rgb(120 77 239 / 0.02);
  --color-purple-light-alpha-2: rgb(120 77 239 / 0.03);
  --color-purple-light-alpha-3: rgb(120 77 239 / 0.08);
  --color-purple-light-alpha-4: rgb(120 77 239 / 0.13);
  --color-purple-light-alpha-5: rgb(120 77 239 / 0.18);
  --color-purple-light-alpha-6: rgb(120 77 239 / 0.18);
  --color-purple-light-alpha-7: rgb(120 77 239 / 0.33);
  --color-purple-light-alpha-8: rgb(120 77 239 / 0.44);
  --color-purple-dark-1: rgb(254 252 255);
  --color-purple-dark-2: rgb(253 247 255);
  --color-purple-dark-3: rgb(251 235 255);
  --color-purple-dark-4: rgb(242 207 255);
  --color-purple-dark-5: rgb(242 207 255);
  --color-purple-dark-6: rgb(234 188 255);
  --color-purple-dark-7: rgb(223 162 255);
  --color-purple-dark-8: rgb(210 128 251);
  --color-purple-dark-9: rgb(206 124 247);
  --color-purple-dark-10: rgb(194 112 235);
  --color-purple-dark-11: rgb(141 59 178);
  --color-purple-dark-12: rgb(80 0 110);
  --color-purple-dark-alpha-1: rgb(205 105 255 / 0.02);
  --color-purple-dark-alpha-2: rgb(205 55 255 / 0.04);
  --color-purple-dark-alpha-3: rgb(205 5 255 / 0.08);
  --color-purple-dark-alpha-4: rgb(193 1 255 / 0.13);
  --color-purple-dark-alpha-5: rgb(187 2 255 / 0.19);
  --color-purple-dark-alpha-6: rgb(177 7 255 / 0.27);
  --color-purple-dark-alpha-7: rgb(169 4 255 / 0.37);
  --color-purple-dark-alpha-8: rgb(165 1 247 / 0.5);
  --color-green-light-2: rgb(244 251 244);
  --color-green-light-3: rgb(230 248 230);
  --color-green-light-4: rgb(213 243 214);
  --color-green-light-5: rgb(194 236 195);
  --color-green-light-6: rgb(169 225 171);
  --color-green-light-7: rgb(134 211 139);
  --color-green-light-8: rgb(78 191 92);
  --color-green-light-9: rgb(16 163 53);
  --color-green-light-10: rgb(0 150 38);
  --color-green-light-11: rgb(0 131 30);
  --color-green-light-12: rgb(25 62 29);
  --color-green-light-alpha-1: rgb(5 205 5 / 0.02);
  --color-green-light-alpha-2: rgb(35 175 35 / 0.05);
  --color-green-light-alpha-3: rgb(5 185 5 / 0.1);
  --color-green-light-alpha-4: rgb(8 184 14 / 0.17);
  --color-green-light-alpha-5: rgb(1 176 5 / 0.24);
  --color-green-light-alpha-6: rgb(2 167 8 / 0.34);
  --color-green-light-alpha-7: rgb(3 163 13 / 0.48);
  --color-green-light-alpha-8: rgb(2 164 22 / 0.7);
  --color-green-dark-1: rgb(250 255 250);
  --color-green-dark-2: rgb(243 252 243);
  --color-green-dark-3: rgb(226 250 227);
  --color-green-dark-4: rgb(207 245 210);
  --color-green-dark-5: rgb(185 239 189);
  --color-green-dark-6: rgb(156 229 163);
  --color-green-dark-7: rgb(115 215 129);
  --color-green-dark-8: rgb(22 196 75);
  --color-green-dark-9: rgb(48 209 88);
  --color-green-dark-10: rgb(25 197 76);
  --color-green-dark-11: rgb(0 133 22);
  --color-green-dark-12: rgb(13 64 24);
  --color-green-dark-alpha-1: rgb(5 255 5 / 0.02);
  --color-green-dark-alpha-2: rgb(15 195 15 / 0.05);
  --color-green-dark-alpha-3: rgb(13 213 22 / 0.12);
  --color-green-dark-alpha-4: rgb(2 202 18 / 0.19);
  --color-green-dark-alpha-5: rgb(5 198 19 / 0.28);
  --color-green-dark-alpha-6: rgb(1 188 19 / 0.39);
  --color-green-dark-alpha-7: rgb(0 182 26 / 0.55);
  --color-green-dark-alpha-8: rgb(2 191 59 / 0.92);
  --color-grey-alpha-white-0: rgb(1 4 9 / 0);
  --color-grey-alpha-white-2: rgb(255 255 255 / 0.08);
  --color-grey-alpha-white-16: rgb(255 255 255 / 0.16);
  --color-grey-alpha-white-4: rgb(255 255 255 / 0.09);
  --color-grey-alpha-white-5: rgb(255 255 255 / 0.17);
  --color-grey-alpha-white-6: rgb(255 255 255 / 0.26);
  --color-grey-alpha-white-7: rgb(255 255 255 / 0.47);
  --color-grey-alpha-white-8: rgb(255 255 255 / 0.59);
  --color-grey-alpha-white-9: rgb(255 255 255 / 0.66);
  --color-grey-alpha-white-10: rgb(255 255 255 / 0.8);
  --color-grey-alpha-white-11: rgb(255 255 255 / 0.86);
  --color-grey-alpha-white-12: rgb(255 255 255 / 0.91);
  --color-orange-1: rgb(254 250 245);
  --color-orange-2: rgb(254 246 238);
  --color-orange-3: rgb(253 234 215);
  --color-orange-4: rgb(249 219 175);
  --color-orange-5: rgb(247 178 122);
  --color-orange-6: rgb(243 135 68);
  --color-orange-7: rgb(239 104 32);
  --color-orange-8: rgb(224 79 22);
  --color-orange-9: rgb(185 56 21);
  --color-orange-10: rgb(147 47 25);
  --color-orange-11: rgb(119 41 23);
  --color-orange-12: rgb(81 28 16);
  --none: 0px;
  --xxxs: 2px;
  --xxs: 4px;
  --xs: 6px;
  --s: 8px;
  --m: 10px;
  --l: 12px;
  --xl: 16px;
  --xxl: 20px;
  --xxxl: 20px;
  --full: 999px;
  --spacing-0: 0px;
  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 12px;
  --spacing-500: 16px;
  --spacing-600: 24px;
  --spacing-700: 32px;
  --spacing-800: 40px;
  --spacing-900: 48px;
  --spacing-1000: 56px;
  --spacing-1100: 64px;
  --spacing-1200: 72px;
  --spacing-1300: 80px;
  --spacing-1400: 88px;
  --spacing-1500: 96px;
  --spacing-1600: 104px;
  --font-weight-regular: 400;
  --font-family-heading: "Open Sauce One";
  --font-family-body: "Open Sauce One";
  --font-weight-medium: 500;
  --font-family-label: "Open Sauce One";
  --font-weight-semibold: 600;
  --font-family-link: "Open Sauce One";
  --font-weight-bold: 700;
  --font-size-h1-42: 42px;
  --font-size-h2-32: 32px;
  --font-size-h3-28: 28px;
  --font-size-h4-20: 20px;
  --font-size-h5-16: 16px;
  --font-size-h6-14: 14px;
  --font-size-body-18: 18px;
  --font-size-body-16: 16px;
  --font-size-body-14: 14px;
  --font-size-body-12: 12px;
  --font-size-body-10: 10px;
  --font-size-label-18: 18px;
  --font-size-label-16: 16px;
  --font-size-label-14: 14px;
  --font-size-label-12: 12px;
  --font-size-link-md: 16px;
  --font-size-link-sm: 14px;
  --font-line-height-h1-42: 48px;
  --font-line-height-h2-32: 36px;
  --font-line-height-h3-28: 32px;
  --font-line-height-h4-20: 24px;
  --font-line-height-h5-16: 20px;
  --font-line-height-h6-14: 16px;
  --font-line-height-body-18: 28px;
  --font-line-height-body-16: 24px;
  --font-line-height-body-14: 20px;
  --font-line-height-body-12: 16px;
  --font-line-height-body-10: 16px;
  --font-line-height-label-18: 18px;
  --font-line-height-label-16: 16px;
  --font-line-height-label-14: 14px;
  --font-line-height-label-12: 12px;
  --font-line-height-link-md: 24px;
  --font-line-height-link-sm: 20px;
  --font-letter-spacing-h1-42: -0.05px;
  --font-letter-spacing-h2-32: -0.03px;
  --font-letter-spacing-h3-28: -0.02px;
  --font-letter-spacing-h4-20: -0.02px;
  --font-letter-spacing-h5-16: 0px;
  --font-letter-spacing-h6-14: 0px;
  --font-letter-spacing-body-18: 0px;
  --font-letter-spacing-body-16: 0px;
  --font-letter-spacing-body-14: 0px;
  --font-letter-spacing-body-12: 0px;
  --font-letter-spacing-body-10: 0px;
  --font-letter-spacing-label-18: 0px;
  --font-letter-spacing-label-16: 0px;
  --font-letter-spacing-label-16-ext: 4px;
  --font-letter-spacing-label-14: 0px;
  --font-letter-spacing-label-14-ext: 4px;
  --font-letter-spacing-label-12: 0px;
  --font-letter-spacing-label-12-ext: 4px;
  --font-letter-spacing-link-md: 0px;
  --font-letter-spacing-link-sm: 0px;
  --brand-light-25: rgb(251 253 255);
  --brand-light-50: rgb(245 249 255);
  --brand-light-100: rgb(213 226 255);
  --brand-light-200: rgb(192 213 255);
  --brand-light-300: rgb(151 186 255);
  --brand-light-400: rgb(77 130 255);
  --brand-light-500: rgb(51 92 255);
  --brand-light-600: rgb(53 89 233);
  --brand-light-700: rgb(37 71 208);
  --brand-light-800: rgb(31 59 173);
  --brand-light-900: rgb(24 47 139);
  --brand-light-950: rgb(18 35 104);
  --brand-light-alpha-1: var(--color-blue-light-alpha-1);
  --brand-light-alpha-2: var(--color-blue-light-alpha-2);
  --brand-light-alpha-3: var(--color-blue-light-alpha-3);
  --brand-light-alpha-4: var(--color-blue-light-alpha-4);
  --brand-light-alpha-5: var(--color-blue-light-alpha-5);
  --brand-light-alpha-6: var(--color-blue-light-alpha-6);
  --brand-light-alpha-7: var(--color-blue-light-alpha-7);
  --brand-light-alpha-8: var(--color-blue-light-alpha-8);
  --brand-dark-25: var(--color-blue-dark-1);
  --brand-dark-50: var(--color-blue-dark-2);
  --brand-dark-100: var(--color-blue-dark-3);
  --brand-dark-200: var(--color-blue-dark-4);
  --brand-dark-300: var(--color-blue-dark-5);
  --brand-dark-400: var(--color-blue-dark-6);
  --brand-dark-500: var(--color-blue-dark-7);
  --brand-dark-600: var(--color-blue-dark-8);
  --brand-dark-700: var(--color-blue-dark-9);
  --brand-dark-800: var(--color-blue-dark-10);
  --brand-dark-900: var(--color-blue-dark-11);
  --brand-dark-12: var(--color-blue-dark-12);
  --brand-dark-alpha-1: var(--color-blue-dark-alpha-1);
  --brand-dark-alpha-2: var(--color-blue-dark-alpha-2);
  --brand-dark-alpha-3: var(--color-blue-dark-alpha-3);
  --brand-dark-alpha-4: var(--color-blue-dark-alpha-4);
  --brand-dark-alpha-5: var(--color-blue-dark-alpha-5);
  --brand-dark-alpha-6: var(--color-blue-dark-alpha-6);
  --brand-dark-alpha-7: var(--color-blue-dark-alpha-7);
  --brand-dark-alpha-8: var(--color-blue-dark-alpha-8);
  --success-light-25: rgb(246 254 249);
  --success-light-50: rgb(236 253 243);
  --success-light-100: rgb(220 250 230);
  --success-light-200: rgb(169 239 197);
  --success-light-300: rgb(117 224 167);
  --success-light-400: rgb(71 205 137);
  --success-light-500: rgb(23 178 106);
  --success-light-600: rgb(7 148 85);
  --success-light-700: rgb(6 118 71);
  --success-light-800: rgb(8 93 58);
  --success-light-900: rgb(7 77 49);
  --success-light-950: rgb(5 51 33);
  --success-light-alpha-1: var(--color-green-light-alpha-1);
  --success-light-alpha-2: var(--color-green-light-alpha-2);
  --success-light-alpha-3: var(--color-green-light-alpha-3);
  --success-light-alpha-4: var(--color-green-light-alpha-4);
  --success-light-alpha-5: var(--color-green-light-alpha-5);
  --success-light-alpha-6: var(--color-green-light-alpha-6);
  --success-light-alpha-7: var(--color-green-light-alpha-7);
  --success-light-alpha-8: var(--color-green-light-alpha-8);
  --success-dark-1: var(--color-green-dark-1);
  --success-dark-2: var(--color-green-dark-2);
  --success-dark-3: var(--color-green-dark-3);
  --success-dark-4: var(--color-green-dark-4);
  --success-dark-5: var(--color-green-dark-5);
  --success-dark-6: var(--color-green-dark-6);
  --success-dark-7: var(--color-green-dark-7);
  --success-dark-8: var(--color-green-dark-8);
  --success-dark-9: var(--color-green-dark-9);
  --success-dark-10: var(--color-green-dark-10);
  --success-dark-11: var(--color-green-dark-11);
  --success-dark-12: var(--color-green-dark-12);
  --success-dark-alpha-1: var(--color-green-dark-alpha-1);
  --success-dark-alpha-2: var(--color-green-dark-alpha-2);
  --success-dark-alpha-3: var(--color-green-dark-alpha-3);
  --success-dark-alpha-4: var(--color-green-dark-alpha-4);
  --success-dark-alpha-5: var(--color-green-dark-alpha-5);
  --success-dark-alpha-6: var(--color-green-dark-alpha-6);
  --success-dark-alpha-7: var(--color-green-dark-alpha-7);
  --success-dark-alpha-8: var(--color-green-dark-alpha-8);
  --warning-light-25: rgb(255 252 245);
  --warning-light-50: rgb(255 250 235);
  --warning-light-100: rgb(254 240 199);
  --warning-light-200: rgb(254 223 137);
  --warning-light-300: rgb(254 200 75);
  --warning-light-400: rgb(253 176 34);
  --warning-light-500: rgb(247 144 9);
  --warning-light-600: rgb(220 104 3);
  --warning-light-700: rgb(181 71 8);
  --warning-light-800: rgb(147 55 13);
  --warning-light-900: rgb(122 46 14);
  --warning-light-950: rgb(78 29 9);
  --warning-light-alpha-1: var(--color-yellow-light-alpha-1);
  --warning-light-alpha-2: var(--color-yellow-light-alpha-2);
  --warning-light-alpha-3: var(--color-yellow-light-alpha-3);
  --warning-light-alpha-4: var(--color-yellow-light-alpha-4);
  --warning-light-alpha-5: var(--color-yellow-light-alpha-5);
  --warning-light-alpha-6: var(--color-yellow-light-alpha-6);
  --warning-light-alpha-7: var(--color-yellow-light-alpha-7);
  --warning-light-alpha-8: var(--color-yellow-light-alpha-8);
  --warning-dark-1: var(--color-yellow-dark-1);
  --warning-dark-2: var(--color-yellow-dark-2);
  --warning-dark-3: var(--color-yellow-dark-3);
  --warning-dark-4: var(--color-yellow-dark-4);
  --warning-dark-5: var(--color-yellow-dark-5);
  --warning-dark-6: var(--color-yellow-dark-6);
  --warning-dark-7: var(--color-yellow-dark-7);
  --warning-dark-8: var(--color-yellow-dark-8);
  --warning-dark-9: var(--color-yellow-dark-9);
  --warning-dark-10: var(--color-yellow-dark-10);
  --warning-dark-11: var(--color-yellow-dark-11);
  --warning-dark-12: var(--color-yellow-dark-12);
  --warning-dark-alpha-1: var(--color-yellow-dark-alpha-1);
  --warning-dark-alpha-2: var(--color-yellow-dark-alpha-2);
  --warning-dark-alpha-3: var(--color-yellow-dark-alpha-3);
  --warning-dark-alpha-4: var(--color-yellow-dark-alpha-4);
  --warning-dark-alpha-5: var(--color-yellow-dark-alpha-5);
  --warning-dark-alpha-6: var(--color-yellow-dark-alpha-6);
  --warning-dark-alpha-7: var(--color-yellow-dark-alpha-7);
  --warning-dark-alpha-8: var(--color-yellow-dark-alpha-8);
  --critical-light-25: rgb(255 251 250);
  --critical-light-50: rgb(254 243 242);
  --critical-light-100: rgb(254 228 226);
  --critical-light-200: rgb(254 205 202);
  --critical-light-300: rgb(253 162 155);
  --critical-light-400: rgb(249 112 102);
  --critical-light-500: rgb(240 68 56);
  --critical-light-600: rgb(217 45 32);
  --critical-light-700: rgb(180 35 24);
  --critical-light-800: rgb(145 32 24);
  --critical-light-900: rgb(122 39 26);
  --critical-light-950: rgb(85 22 12);
  --critical-light-alpha-1: var(--color-red-light-alpha-1);
  --critical-light-alpha-2: var(--color-red-light-alpha-2);
  --critical-light-alpha-3: var(--color-red-light-alpha-3);
  --critical-light-alpha-4: var(--color-red-light-alpha-4);
  --critical-light-alpha-5: var(--color-red-light-alpha-5);
  --critical-light-alpha-6: var(--color-red-light-alpha-6);
  --critical-light-alpha-7: var(--color-red-light-alpha-7);
  --critical-light-alpha-8: var(--color-red-light-alpha-8);
  --critical-dark-1: var(--color-red-dark-1);
  --critical-dark-2: var(--color-red-dark-2);
  --critical-dark-3: var(--color-red-dark-3);
  --critical-dark-4: var(--color-red-dark-4);
  --critical-dark-5: var(--color-red-dark-5);
  --critical-dark-6: var(--color-red-dark-6);
  --critical-dark-7: var(--color-red-dark-7);
  --critical-dark-8: var(--color-red-dark-8);
  --critical-dark-9: var(--color-red-dark-9);
  --critical-dark-10: var(--color-red-dark-10);
  --critical-dark-11: var(--color-red-dark-11);
  --critical-dark-12: var(--color-red-dark-12);
  --critical-dark-alpha-1: var(--color-red-dark-alpha-1);
  --critical-dark-alpha-2: var(--color-red-dark-alpha-2);
  --critical-dark-alpha-3: var(--color-red-dark-alpha-3);
  --critical-dark-alpha-4: var(--color-red-dark-alpha-4);
  --critical-dark-alpha-5: var(--color-red-dark-alpha-5);
  --critical-dark-alpha-6: var(--color-red-dark-alpha-6);
  --critical-dark-alpha-7: var(--color-red-dark-alpha-7);
  --critical-dark-alpha-8: var(--color-red-dark-alpha-8);
  --info-light-25: rgb(245 248 255);
  --info-light-50: rgb(239 244 255);
  --info-light-100: rgb(209 224 255);
  --info-light-200: rgb(178 204 255);
  --info-light-300: rgb(132 173 255);
  --info-light-400: rgb(82 139 255);
  --info-light-500: rgb(41 112 255);
  --info-light-600: rgb(21 94 239);
  --info-light-700: rgb(0 78 235);
  --info-light-800: rgb(0 64 193);
  --info-light-900: rgb(0 53 158);
  --info-light-950: rgb(0 34 102);
  --info-light-alpha-1: var(--color-blue-light-alpha-1);
  --info-light-alpha-2: var(--color-blue-light-alpha-2);
  --info-light-alpha-3: var(--color-blue-light-alpha-3);
  --info-light-alpha-4: var(--color-blue-light-alpha-4);
  --info-light-alpha-5: var(--color-blue-light-alpha-5);
  --info-light-alpha-6: var(--color-blue-light-alpha-6);
  --info-light-alpha-7: var(--color-blue-light-alpha-7);
  --info-light-alpha-8: var(--color-blue-light-alpha-8);
  --info-dark-1: var(--color-blue-dark-1);
  --info-dark-2: var(--color-blue-dark-2);
  --info-dark-3: var(--color-blue-dark-3);
  --info-dark-4: var(--color-blue-dark-4);
  --info-dark-5: var(--color-blue-dark-5);
  --info-dark-6: var(--color-blue-dark-6);
  --info-dark-7: var(--color-blue-dark-7);
  --info-dark-8: var(--color-blue-dark-8);
  --info-dark-9: var(--color-blue-dark-9);
  --info-dark-10: var(--color-blue-dark-10);
  --info-dark-11: var(--color-blue-dark-11);
  --info-dark-12: var(--color-blue-dark-12);
  --info-dark-alpha-1: var(--color-blue-dark-alpha-1);
  --info-dark-alpha-2: var(--color-blue-dark-alpha-2);
  --info-dark-alpha-3: var(--color-blue-dark-alpha-3);
  --info-dark-alpha-4: var(--color-blue-dark-alpha-4);
  --info-dark-alpha-5: var(--color-blue-dark-alpha-5);
  --info-dark-alpha-6: var(--color-blue-dark-alpha-6);
  --info-dark-alpha-7: var(--color-blue-dark-alpha-7);
  --info-dark-alpha-8: var(--color-blue-dark-alpha-8);
  --finance-light-25: rgb(252 250 255);
  --finance-light-50: rgb(249 245 255);
  --finance-light-100: rgb(244 235 255);
  --finance-light-200: rgb(233 215 254);
  --finance-light-300: rgb(214 187 251);
  --finance-light-400: rgb(182 146 246);
  --finance-light-500: rgb(158 119 237);
  --finance-light-600: rgb(127 86 217);
  --finance-light-700: rgb(105 65 198);
  --finance-light-800: rgb(83 56 158);
  --finance-light-900: rgb(66 48 125);
  --finance-light-950: rgb(44 28 95);
  --finance-light-alpha-1: var(--color-purple-light-alpha-1);
  --finance-light-alpha-2: var(--color-purple-light-alpha-2);
  --finance-light-alpha-3: var(--color-purple-light-alpha-3);
  --finance-light-alpha-4: var(--color-purple-light-alpha-4);
  --finance-light-alpha-5: var(--color-purple-light-alpha-5);
  --finance-light-alpha-6: var(--color-purple-light-alpha-6);
  --finance-light-alpha-7: var(--color-purple-light-alpha-7);
  --finance-light-alpha-8: var(--color-purple-light-alpha-8);
  --finance-dark-1: var(--color-purple-dark-1);
  --finance-dark-2: var(--color-purple-dark-2);
  --finance-dark-3: var(--color-purple-dark-3);
  --finance-dark-4: var(--color-purple-dark-4);
  --finance-dark-5: var(--color-purple-dark-5);
  --finance-dark-6: var(--color-purple-dark-6);
  --finance-dark-7: var(--color-purple-dark-7);
  --finance-dark-8: var(--color-purple-dark-8);
  --finance-dark-9: var(--color-purple-dark-9);
  --finance-dark-10: var(--color-purple-dark-10);
  --finance-dark-11: var(--color-purple-dark-11);
  --finance-dark-12: var(--color-purple-dark-12);
  --finance-dark-alpha-1: var(--color-purple-dark-alpha-1);
  --finance-dark-alpha-2: var(--color-purple-dark-alpha-2);
  --finance-dark-alpha-3: var(--color-purple-dark-alpha-3);
  --finance-dark-alpha-4: var(--color-purple-dark-alpha-4);
  --finance-dark-alpha-5: var(--color-purple-dark-alpha-5);
  --finance-dark-alpha-6: var(--color-purple-dark-alpha-6);
  --finance-dark-alpha-7: var(--color-purple-dark-alpha-7);
  --finance-dark-alpha-8: var(--color-purple-dark-alpha-8);
}
